<div class="container-fluid footer-main">
    
    <div class="row rr">
         <hr style="color:rgb(246, 152, 11)">
        <div class="col cc">
           <p>Facilities</p>
           <ul>
            <li>Highly Educated Faculty</li>
            <li>Advance Labs</li>
            <li>Good Hostels</li>
            <li>Library</li>
            <li>Bank</li>
           </ul>
        </div>
        <div class="col cc">
            <p>Courses</p>
            <ul>
            <li>B.A.</li>
            <li>B.Sc.</li>
            <li>B.Com Sciences</li>
            <li>M.Tech</li>
            <li>Polytecic</li>
           </ul>
        </div>
        <div class="col cc">
              <p>Important Links</p>
              <ul>
            <li>Admissions</li>
            <li>Fee</li>
            <li>Hostel</li>
            <li>Library</li>
            <li>Canteen</li>
           </ul>
        </div>
    </div>
    <hr style="color:rgb(246, 152, 11)">
</div> 
</body>
</html>