<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/fta/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/fta/js/all.min.js"></script>
  </head>
  <body>
    <div class="container-fluid header">
      <div class="title">Lamrin Tech Skills University
        <br> Home Page
      </div>
      <div class="navbar">
        <ul>
          <li><a href="/"><span><i class="fa fa-house fa-xs"></i>    </span>Home</a></li>
          <li><a href="/login"><span ><i class="fa fa-user fa-xs"></i>     </span>Login</a></li>
           
          
        </ul>
      </div>
    </div>
   
