<%- include('../templates/aheader')   %>


    
  

    <div class="hp">
<% if(msg.length>0) { %> 
       <div class="alert w-80 alert-danger">
         <b><%= msg %></b> 
       </div>
    <% } %>


 <div class="container cpd">
    <form action="" method="post">
        <div class="form-group">
            <label for="password">Enter New Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="cpassword">Confirm Password</label>
            <input type="password" name="cpassword" id="cpassword" class="form-control" placeholder="Enter password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary w-100">Change Password</button>

    </form>
 </div>


    </div>


<%- include('../templates/afooter')   %>