<%- include('./templates/header') %>
<div class = "mf">
  <div class="container">
    <% if(msg.length>0) { %> 
       <div class="alert w-80 alert-danger">
         <b><%= msg %></b> 
       </div>
    <% } %>
  </div>

  
<div class="container frmregister">
  <div class="container signup">
    <form action="/login" method="post">
      <div class="form-group">
        <label for="role">Select Role</label>

        <select name="role" id="role">
          <option value="admin">Admin</option>
          <option value="student">Student</option>
          
        </select>
      </div>

      <div class="form-group" id="lrole">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Enter email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Enter password"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn w-100 btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
</div>
<%- include('./templates/footer') %>
<script src="/js/jquery.js"></script>

<script>
  $(document).ready(function () {
    var op = $("#role").val();
      if (op == "admin") {
        $("#lrole").hide();
        $("#email").hide();
        $('#email').val("admin@admin")
      } else {
        $("#lrole").show();
        $("#email").show();
        $('#email').val("")
      }





    $("#role").change(function () {
       var op = $("#role").val();
      if (op == "admin") {
        $("#lrole").hide();
        $("#email").hide();
        $('#email').val("admin@admin")
      } else {
        $("#lrole").show();
        $("#email").show();
        $('#email').val("")
      }
    });
  });
</script>
